:root {
    /* var color */
    --color-background: #d4c09b;
    --nav-background: #9a4236;
    --font-main-color: #f2e0d2;
    /* var font family */
    --font-type-main: 'Poppins', sans-serif;
    --font-weight-normal: 400;
    --font-weight-bold: 700;
    /* var font and line size */
    --font-size-nav: 1.25rem;
    --font-size-h1: 1.75em;
    --font-size-p: 0.75rem;
    /* var general */
    --margin-main: 5rem;
}

* {
    margin: 0;
	padding: 0;
	border: 0;
}

body {
    background-color: var(--color-background);
    font-family: var(--font-type-main);
    font-weight: var(--font-weight-normal);
    color: var(--font-main-color);
}

header img {
    width: 20rem;
    display: block;
    margin: 0 auto;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 2rem;
    justify-content: center;
    background-color: var(--nav-background);
    padding: 1rem 0;
    margin: 2rem var(--margin-main);
    border-radius: 1rem;
}

nav a {
    color: var(--font-main-color);
    font-size: var(--font-size-nav);
    font-weight: var(--font-weight-bold);
    text-decoration: none;
}

main > article {
    margin: 0 var(--margin-main) 2rem;
    border-radius: 1rem;
    background-image: url("/assets/background.jpg");
    background-size: cover;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

h1 {
    font-size: var(--font-size-h1);
    font-weight: var(--font-weight-bold);
}

p {
    font-size: var(--font-size-p);
    line-height: 1.25rem;
}

main div {
    margin: 0 var(--margin-main);
    display: flex;
    gap: 3rem;
}

.container-cards {
    border-radius: 1rem;
    background-color: #a18c5d;
    padding: 1rem 1.5rem;

    color: var(--font-main-color);
    font-size: var(--font-size-nav);
    font-weight: var(--font-weight-bold);
    text-decoration: none;
}

.container-cards h2 {
    margin: 1rem 0 2rem;
    font-weight: var(--font-weight-bold)
}

.container-cards img {
    width: 100%;
    margin-bottom: 2rem;
}

.container-cards ul {
    list-style: none;
    margin-top: 1rem;
    line-height: 2rem;
    font-weight: var(--font-weight-bold);
}

hr {
    margin: 2rem var(--margin-main) 1rem;
    border: 2px solid var(--nav-background);
}
.container-footer {
    margin: 0 var(--margin-main) 1rem;
    display: flex;
    justify-content:space-between;
    color: #d0604c;
}

.container-footer img {
    width: 20%;
}

.container-cards:hover {
    background-color: var(--nav-background);
}

@media (max-width: 1000px) {
    main div {
        flex-direction: column;
    }
}